    body {
        margin: 0px;
    }
    
    .header {
        background: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .flag {
        margin-left: 20px;
        height: 10px;
    }
    
    .flecha {
        height: 10px;
        margin-left: 5px;
    }
    
    .line_right {
        border-right: 1px solid grey;
        padding-right: 10px;
    }
    
    .left {
        padding-left: 5px;
    }
    
    .titulo {
        display: flex;
        margin-left: 10%;
        align-items: baseline;
    }
    
    .titulo h1 {
        color: white;
    }
    
    .titulo p {
        color: grey;
        margin-left: 8px;
        font-size: 10px;
    }
    
    .acerca {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
    
    .acerca p {
        margin-left: 8px;
        font-weight: bold;
        font-size: 75%;
        color: rgb(185, 185, 185);
    }
    
    .container {
        position: relative;
        display: inline-block;
        text-align: center;
        align-content: center;
        width: 100%;
        height: 600px;
    }
    
    .container img {
        width: 100%;
        height: 100%;
    }
    
    .home {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .home h1 {
        color: white;
    }
    
    .home button {
        border: 0px;
        padding: 10px;
        border-radius: 8px;
        background: #FB6D9D;
        color: white;
        font-weight: bold;
        font-size: 10px;
    }
    
    .mission {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10% 20% 10% 20%;
    }
    
    .mission h3 {
        font-weight: lighter;
        color: rgb(56, 56, 56);
    }
    
    .mission p {
        color: grey;
        text-align: center;
    }
    
    .people {
        background: #EEF2F5;
        display: grid;
    }
    
    .our {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5% 20% 5% 20%;
    }
    
    .our h3 {
        font-weight: lighter;
        color: rgb(56, 56, 56);
    }
    
    .our p {
        color: grey;
        text-align: center;
    }
    
    .p_items {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-bottom: 50px;
    }
    
    .p1 {
        padding: 10px;
        width: 230px;
    }
    
    .p2 {
        padding: 10px;
        width: 230px;
    }
    
    .p3 {
        padding: 10px;
        width: 230px;
    }
    
    .pi_tems h1 {
        color: rgb(44, 44, 44);
    }
    
    .p_items img {
        width: 100%;
        height: 150px;
    }
    
    .p_items p {
        color: grey;
        font-size: 12px;
    }
    
    .trial {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
        background: #FB6D9D;
        padding: 20px 20px 20px 20px;
        color: rgb(240, 239, 239);
    }
    
    .trial button {
        border: 0px;
        border-radius: 8px;
        padding: 10px;
        font-size: 10px;
        font-weight: bold;
        background: #D85783;
        color: white;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
        padding: 5% 30% 2% 10%;
        font-size: 12px;
    }
    
    .info h5 {
        font-weight: bold;
    }
    
    .info p {
        font-size: 10px;
        color: grey;
    }
    
    .redes {
        justify-content: flex-end;
        display: flex;
        margin-top: 40px;
    }
    
    .redes img {
        height: 22px;
        margin-right: 10px;
    }
    
    .footer {
        margin-left: 10%;
        margin-right: 10%;
        color: grey;
    }
    
    .cont {
        border-top: 1px solid rgb(214, 212, 212);
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        color: grey;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        padding: 20px 20px 20px 20px;
        border-top: 1px solid rgb(218, 215, 215);
    }
    
    .footer h3 {
        color: black;
    }
    
    .footer img {
        height: 100px;
        border-radius: 200px;
        margin-right: 10px;
    }
    
    @media screen and (min-width: 768px) {
        .p_items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
        }
        .trial {
            display: flex;
            flex-direction: row;
        }
        .trial button {
            margin-left: 60px;
        }
    }