body {
    margin: 0px;
}

.header {
    padding: 0px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo {
    display: flex;
    margin-left: 10%;
    align-items: baseline;
}

.titulo h1 {
    color: white;
}

.titulo p {
    color: grey;
    margin-left: 8px;
    font-size: 10px;
}

.acerca {
    display: flex;
    margin-right: 50px;
}

.acerca p {
    margin-left: 8px;
    font-weight: bold;
    font-size: 75%;
    color: rgb(185, 185, 185);
}